:root {
    --primary-1-clr: #000;
    --primary-2-clr: #3734A9;
    --secondary-clr: #FF7F5C;
    --secondary-2-clr: #111235;
    --font-size--Medium: 500;
    --font-size--Semibold: 600;
    --font-size--Bold: 700;
    --font-size--ExtraBold: 800;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
}

.container {
    width: 1200px;
}

button {
    border: 0;
}

p {
    color: #64607D;
    font-size: 14px;
    line-height: 24px;
    font-style: normal;
    letter-spacing: -0.02em;
}

/* NAVIGATION */
.main--nav {
 display: flex;
 align-items: center;
 justify-content: space-around;   
 max-width: 1205px;
 margin-left: auto;
 margin-right: auto;

}

.main--nav a {
    text-decoration: none;
    color: var(--main-clr);
    font-weight: var(--font-size--ExtraBold);
    font-size: 1.25rem;
   

}

.nav--list {
    display: flex;
    gap: 2rem;
    list-style-type: none;
    font-weight: var(--font-size--Semibold);
    font-size: 0.875rem;
  
    
}

.nav--button-1 {
    background-color: transparent;
    margin-right: 3.125rem;
   
    
}

.nav--button-2 {
    padding: 17px 35px;
    background-color: var(--primary-2-clr);
    color: #fff;
    border-radius: .5rem;
    
}

/* HERO */
.hero--container {
    display: flex;
    max-width: 1040px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.section--left__title {
    font-size: 3.75rem;
    line-height: 74px;
    font-weight: var(--font-size--ExtraBold);
}

.section--left__text {
    margin-top: 19px;
    margin-bottom: 47px;
    font-size: 1.25rem;
    line-height: 30px;
    font-weight: var(--font-size--Medium);
}

.container--buttons {
    display: flex;
    align-items: center;
}

.section--left .firstButton {
    background-color: var(--primary-2-clr);
    color: #fff;
    padding: 15px 36px;
    border-radius: 47px;
    font-size: 1rem;
    margin-right: 3.125rem;
    cursor: pointer;
}

.section--left .secondButton {
    margin-left: 0.688rem;
    background-color: transparent;
    color: var(--primary-2-clr);
    font-size: 1.063rem;
    font-weight: var(--font-size--Semibold);
    cursor: pointer;   
}

.section--right {
    display: flex;
    flex-direction: column;
}

.section--right__title {
    width: 360px;
    font-size: 1.5rem;
    font-weight: var(--font-size--Bold);
    color: var(--primary-2-clr);
    line-height: 30px;
    margin-bottom: 1.375rem;
}

.section--right__form {
    display: flex;
    flex-direction: column;
    width: 360px;
}

.section--right__form input {
    margin: .7rem 0;
    padding: 16px 208px 14px 21px;
    color: #64607D;
    background-color: #fff;
    border: 1px solid #DFE4F1;
    font-size: 20px;
    line-height: 30px;
}

.section--right__button {
    padding: 16px 125px;
    font-style: normal;
    font-weight: var(--font-size--Bold);
    font-size: 16px;
    line-height: 30px;
    background-color: var(--secondary-clr);
    color: #fff;
    margin-top: 1.5rem;
    cursor: pointer;
}

/* COMPANIES */
.container--companies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container--companies__text {
    font-size: 1.375rem;
    line-height: 30.05px;
    font-weight: var(--font-size--Bold);
    margin-bottom: 2.479rem;
}

/* FIRST ARTICLE */
.container--about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 720px;
    
}

.container--about__title {
    font-size: 2.625rem;
    font-style: normal;
    font-weight: var(--font-size--ExtraBold);
    line-height: 60px;
    letter-spacing: -0.02em;
    text-align: center;
}

.container--about__text {
    font-size: 1.25rem;
    font-style: normal;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.02em;
    margin-top: 13px;
    margin-bottom: 25px;
}

.container--about__button {
    color: #fff;
    padding: 8px 102px 10px 101px;
    background-color: var(--primary-2-clr);
    border-radius: .8rem;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: -0.02em;
}

/* CARDS */
.card__title {
    font-weight: var(--font-size--ExtraBold);
    line-height: 30px;
    letter-spacing: -0.03em;
}

.container--cards {
    display: grid;
    grid-template-columns: repeat(3,280px);
    justify-content: center;
    gap: 6rem;
}

.first-card__title {
    position: relative;
    margin-top: 24px;
}

.first-card__number {
    position: absolute;
    left: 38rem;
    top: -0.1rem;
    margin-left: auto;
    margin-right: auto;
}

.second-card__title {
    position: relative;
    margin-top: 24px;
}

.second-card__number {
    position: absolute;
    left: 61.2rem;
    top: -0.1rem;
    margin-left: auto;
    margin-right: auto;
}

.third-card__title {
    position: relative;
    margin-top: 24px;
}

.third-card__number {
    position: absolute;
    right: 28rem;
    top: -0.1rem;
    margin-left: auto;
    margin-right: auto;
}

/* CTA */
.container--cta-box {
    margin-top: 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F8F9FD;
    padding: 40px 100px;
    max-width: 1045px;
    margin-left: auto;
    margin-right: auto;

}

.cta-box__title {
    font-size: 36px;
    font-weight: var(--font-size--ExtraBold);
    line-height: 56px;
    letter-spacing: -0.03em;
}

.cta-box__button {
    padding: 20px 40px;
    border-radius: 20px;
    background-color: var(--primary-2-clr);
    color: #fff;
    margin-left: 2rem;
    font-size: 20px;
    flex-shrink: 0;
}

/* CONTENT */
.container--prim-card {
    width: 370px;
    height: 302px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.prim-card__profile-pic {
    width: 100px;
    aspect-ratio: 1;
}

.prim-card__name {
    font-size: 20px;
    font-weight: var(--font-size--ExtraBold);
    line-height: 27.32px;
    margin-top: -22px;
}

.prim-card__description {
    font-size: 14px;
    font-weight: var(--font-size--Medium);
    line-height: 19.12px;
    margin-top: -40px;
}

.prim-card__button {
    font-size: 16px;
    font-weight: var(--font-size--Semibold);
    line-height: 24px;
    color: #fff;
    background-color: #0091D0;
    padding: 9px 43px 9px 43px;
    border-radius: 6px;
}

.container--second-card {
    width: 342px;
    height: 388px;
    background-color: #fff;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 35px;
    padding-bottom: 35px;
}

.second-card__title {
    font-size: 24px;
    line-height: 32.78px;
    font-weight: var(--font-size--Bold);
    margin-top: -1.5rem;
    color: var(--secondary-2-clr);
}

.second-card__first-user,
.second-card__second-user,
.second-card__third-user {
    display: flex;
    align-items: center;
}

.description1,
.description2,
.description3 {
    margin-left: 17px;
}

.description1__name,
.description2__name,
.description3__name {
    color: var(--secondary-2-clr);
    font-size: 18px;
    font-weight: var(--font-size--Semibold);
    line-height: 24.59px;
}

.description1__about,
.description2__about,
.description3__about {
    color: #6C6C6C;
    font-size: 12px;
    font-weight: var(--font-size--Semibold);
    line-height: 16.39px;
}

.second-card__container-buton__container-button {
    display: flex;
}

.second-card__button {
    background-color: transparent;
    font-size: 18px;
    font-weight: var(--font-size--Medium);
    line-height: 27px;
    text-align: start;
    color: var(--secondary-clr);
    margin-right: 15px;
}

.container--content-text {
    max-width: 490px;
    max-height: 470px;
}

.group-1,
.group-2,
.group-3 {
    display: flex;
    gap: 11px;
    align-items: center;
    margin-top: 13px;

}

.content-text__heading {
    font-size: 14px;
    font-weight: var(--font-size--Bold);
    line-height: 17.33px;
    color: var(--primary-2-clr);
}

.content-text__title {
    font-size: 50px;
    font-weight: var(--font-size--ExtraBold);
    line-height: 60px;
    letter-spacing: -0.03em;
    margin-top: 15px;
    margin-bottom: 30px;
}

.content-text__text {
    font-size: 18px;
    font-weight: var(--font-size--Medium);
    line-height: 30px;
    letter-spacing: -0.03em;
    margin-bottom: 46px;
}

/* CONTENT CARDS MASHUP */
.container--second-card {
    position: relative;
    
}

.container--prim-card {
    position: absolute;
    top: 155px;
    left: 570px;
}

/* CONTENT ARTICLE */
.content {
    display: flex;
    justify-content: space-between;
    width: 1156px;
    margin-left: auto;
    margin-right: auto;
}

/* VALUE PROPS TEXT PART */
.value-props--text {
    width: 718px;
    height: 133px;
    margin-left: auto;
    margin-right: auto;
}

.text__heading {
    font-size: 42px;
    font-weight: var(--font-size--ExtraBold);
    line-height: 60px;
    letter-spacing: -0.03em;
}

.text__paragraph {
    font-size: 20px;
    font-weight: var(--font-size--Medium);
    line-height: 30px;
    letter-spacing: -0.02em;
    text-align: center;
}

/* VALUE PROPS CARDS PART */
.value-props--cards {
    display: flex;
    justify-content: space-around;
    width: 1200px;
    margin-top: 59px;
    margin-left: auto;
    margin-right: auto;
    gap: 30px;
}

.cards__card1,
.cards__card2,
.cards__card3 {
    width: 380px;
    height: 350px;
    border: 1px solid #DFDFDF;
    border-radius: 22px;
    box-shadow: 0px 64px 194px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}


.card1__header,
.card2__header,
.card3__header {
    font-size: 24px;
    font-weight: var(--font-size--ExtraBold);
    line-height: 33px;
    letter-spacing: -0.03em;
    margin-top: 99px;
    margin-left: 33px;
    margin-right: 46px;
}

.card1__text,
.card2__text,
.card3__text {
    font-size: 16px;
    font-weight: var(--font-size--Medium);
    line-height: 30px;
    letter-spacing: -0.02em;
    margin-left: 33px;
    margin-right: 29px;
}

.button__button {
    font-size: 16px;
    font-weight: var(--font-size--Medium);
    line-height: 16px;
    color: #01966B;
    margin-left: 33px;
    margin-right: 10px;
    margin-bottom: 39px;
}

.container--cards-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.value-props__button {
    font-size: 16px;
    font-weight: var(--font-size--Semibold);
    line-height: 21.86px;
    text-align: center;
    color: #fff;
    background-color: var(--primary-2-clr);
    padding: 21px 51px 17px 50px;
    border-radius: 10px;
    margin-top: 42px;
}

/* QUICK STATS */
.container--quick-stats {
    width: 1200px;
    height: 170px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border: 1px solid #DFDFDF;
    border-radius: 22px;
}

.quick-stats__header {
    font-size: 34px;
    font-weight: var(--font-size--ExtraBold);
    line-height: 46px;
    letter-spacing: -0.03em;
}

.qucik-stats__body {
    display: flex;
    align-items: center;
}

.body__icon1,
.body__icon2,
.body__icon3 {
    background-color: #E9ECF2;
    border-radius: 5px;
    margin-right: 18px;
    padding: 8px;
}

.body__textOfIcon1,
.body__textOfIcon2,
.body__textOfIcon3 {
    margin-right: 40px;
}

/* TESTIMONIALS */
.container--testimonials {
    display: flex;
    align-items:flex-start;
    margin-left: auto;
    margin-right: auto;
    gap: 88px;
}

.testimonials__left-side {
    display: flex;
    flex-direction: column;
}

.left-side__title {
    font-size: 14px;
    font-weight: 800;
    line-height: 17px;
    color: var(--primary-2-clr);
}

.left-side__header {
    margin-top: 15px;
    font-weight: var(--font-size--ExtraBold);
    font-size: 40px;
    line-height: 45px;
    letter-spacing: -0.03em;
}

.left-side__image {
    border-radius: 15px;
    margin-top: 40px;
    margin-bottom: 27px;
}

.container--arrow {
    display: flex;
    gap: 20px;
}

.arrow__previous,
.arrow_next {
    background: transparent;
    cursor: pointer;
}

.arrow__previous {
    background-color: var(--primary-2-clr);
    color: #fff;
    border-radius: 50%;
    padding: 10px 15px;
    font-size: 20px;
}

.arrow_next {
    font-size: 20px;
}

.testimonials__right-side {
    margin-top: 2.5rem;
}

.right-side__image-vector {
    margin-top: 4.5rem;
}

.right-side__header {
    font-weight: var(--font-size--ExtraBold);
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.03em;
    margin-bottom: 16px;
}

.right-side__first-paragraph,
.right-side__second-paragraph {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;
}

.right-side__second-paragraph {
    margin-top: 20px;
    margin-bottom: 14px;
}

.right-side__username {
    font-weight: var(--font-size--ExtraBold);
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.03em;
}

.right-side__title {
    font-size: 14px;
    line-height: 24px;
}

/* BLOG */
.container--blog {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-left: auto;
    margin-right: auto;
}

.container--blog-header {
    display: flex;
    justify-content: space-between;
}

.container--blog-body {
    display: flex;
    gap: 30px;
}

.blog__left-side {
    display: flex;
    gap: 30px;
}

.left-side__first-blog-card-container {
    width: 378px;
}

.blog-card__date-category {
    display: flex;
    gap: 20px;
}

.blog-card__header {
    margin: 10px 0;
}

.right-side__blog-card-container {
    width: 378px;
    display: flex;
    gap: 16px;
}

.right-blog__datecategory {
    display: flex;
    gap: 20px;
}

.right-blog__header {
    font-size: 18px;
    font-weight: var(--font-size--ExtraBold);
    line-height: 30px;
    letter-spacing: -0.03em;
}

.blog-underline {
    display: flex;
    margin: 40px 0;
}

.blog-header__title {
    font-size: 42px;
    font-weight: var(--font-size--ExtraBold);
    line-height: 50px;
    letter-spacing: -0.03em;
}

.blog-header__button {
    background-color: var(--primary-2-clr);
    color: #DEE1E6;
    font-size: 16px;
    line-height: 22px;
    padding: 20px 30px;
    border-radius: 10px;
    cursor: pointer;
}